<header class="flex justify-between py-6">
    <a href="/">
        <img src="{{ '/assets/logo_white.svg' | fullUrl }}" alt="logo" class="h-8">
    </a>
    <nav>
        <ul>
            <li><a href="{{ '/blog' | fullUrl }}">Blog</a></li>
        </ul>
    </nav>
</header>