---
mainClass: lg:max-w-2xl
---
{% extends "base.njk" %}

{% block content %}
<hgroup>
  {% if title %}<h1 class="{{ headingTitleClass }}">{{ title }}</h1>{% endif %}
  {% if headingImage %}<img src="{{ headingImage }}" alt="{{ headingImageAlt }}">{% endif %}
</hgroup>

<article>{{ content | safe }}</article>

<aside>
  {% for fact in facts | randomItem %}
    <p>{{ fact }}</p>
  {% endfor %}
</aside>
{% endblock %}